/* This file is mostly used for editing colors and animations 
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: whitesmoke;
}

h2 {
  color: whitesmoke;
  letter-spacing: 5px;
}

/* intro sec */

.bigimg {
  min-width: 40vh;
  height: 100vh;
}

.picinfo {
  color: white;
}

.css-typing p {
  border-right: 0.15em solid orange;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 11em;
  -webkit-animation: type 2s;
  animation: type 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 8.8em;
  opacity: 0;
  -webkit-animation: type2 3s;
  animation: type2 3s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

/* about sec */
.imgabout {
  min-width: 30vh;
  height: 50vh;
  border: 2px white solid;
  border-radius: 10px 10px;
}

/* proj sec */
.projcard1 {
  border: 1px solid white;
  border-radius: 0 20px;
  background-image: url("imgs/shopping.jpg");
}

.projcard2 {
  border: 1px solid white;
  border-radius: 0 20px;
  background-image: url("imgs/plane.jpg");
}

.projinfo {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.8);
}

.viewprojbtn {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: white 0.5px solid;
  border-radius: 10px 10px;
  transition: 0.5s;
}

.viewprojbtn:hover {
  background-color: rgba(100, 100, 100, 0.2);
}

/* skills sec */
.card {
  color: black;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15);
}

/* contact sec */

.contacttxt {
  border: 1px solid gray;
  border-radius: 10px 10px;
}

.contactmeform {
  border: 1px solid gray;
}
